<div id = "header">
	<h1 class = "no_margin"> Instructions </h1>
</div>

	<%= link_to root_url do %>
		<div class = "wrapper center">
			<h2 class = "button-text"> Return to Menu </h2>
		</div>
	<% end %>


