<div id = "header">
	<h1 class = "no_margin">The Banana Farm</h1>
</div>

	<%= link_to controller: 'farms' do %>
		<div class = "wrapper center">
			<h2 class = "buttonText"> Find Me A Farm</h2>
		</div>
	<% end %>

	<%= link_to controller: 'help' do %>
		<div class = "wrapper center">
			<h2 class = "buttonText"> Help </h2>
		</div>
	<% end %>
