<div>
<h1>The Banana Farm</h1>
</div>

<div class = "center col" >
	<%= link_to farms_path, class: "welcome-button center" do %>
		<h2 class = "button-text no-margin"> Find Me A Farm</h2>
	<% end %>

	<%= link_to help_index_path, class: "welcome-button center" do %>
		<h2 class = "button-text no-margin"> Help </h2>
	<% end %>
</div>
