/*
 *= require_tree .
 *= require_self
 */

body{
    background-image: url(/assets/beach.jpg);
    background-repeat: none;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/beach.jpg);
    background-attachment: fixed;
}

.no_margin{
    margin:0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.col {
    flex-direction: column;
}

.iblock{
    display: inline-block;
}

h1 {
    text-align:center;
    font-size: 100px;
    margin: 30px 20px;
    color: #FFFC4F;
}

h2 {
    text-align:center;
    font-size: 75px;
    color: #FFFC4F;
}

a {
    text-decoration: none !important;
    color: white;
}

.button {
    cursor:pointer;
}

.med_button {
    margin: 20px 0px 20px 0px;
    
    width:120px;
    height: 40px;
    
    background-color:#a2e663;
    border-radius:6px;
    border:1px solid #268a16;
    color:#306108;
}

.med_button_text {
    font-size: 20px;
}


.small_button {
    margin: 10px 10px 10px 10px;
    
    
    width:60px;
    height: 20px;
    
    background-color: #FFFC4F;
    border-radius:6px;
    border:1px solid #d6a100;
    color: black;
}

.small_button_text {
    font-size: 12px;
}
