.param {
	margin: 10px;
	font-size: 25px;
	text-align: center;
}

#banana_row {
	margin: 30px auto;
	width:500px;
	float: center;
	background: rgba(247,255,247, 0.6);
	border-radius: 20px;
	border: 3px solid #AAEFDF;
}
.banana_row_top {
	
}

.banana_row_top {
	
}

.banana {
	margin: 10px;
	margin-right: auto;
	border:4px ridge black;
	border-radius: 5px;
}

#new_banana{
	position: relative;
	margin: 0 auto;
}

#back_button{
	margin: 20px;
}